@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --josefin: "Josefin Sans", sans-serif;
    --cormorant-infant: "Cormorant Infant", serif;
    --main-color: #292E36;
    --button-color: #E1B168;
    --slider-bg: #343942;
    --exWhite: #ffffff;
    --content-color: #555555;
    --border-bottom: #dcdcdc;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

}

header {
    background: var(--main-color);
    position: relative;

}

main {
    background: var(--main-color);
    border-top: 1px solid #555;
}

.main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.main-call a {
    border: 2px solid var(--button-color);
    padding: 18px 55px;
    font-size: 22px;
    font-family: var(--josefin);
    margin: 10px 10px 10px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: background .2s, color .2s;


}

.main-call a:hover {
    background: var(--button-color);
    color: var(--main-color);
}

.resrevation__header a {
    border: 2px solid var(--button-color);
    background: var(--button-color);
    color: var(--main-color);
    font-family: var(--josefin);
    letter-spacing: 0.2em;
    margin: 10px 0 10px 0;
    padding: 18px 55px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    transition: background .2s, color .2s;

}

.resrevation__header a:hover {
    color: var(--button-color);
    background: var(--main-color);
    border-width: 2px;
}

.main-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 0;
}

.navbar-nav {
    float: right;
    position: relative;
}

.navbar-nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--josefin);
    color: #FFFFFF;
    transition: color .2s;
}

.navbar-nav ul li a:hover {
    color: var(--button-color);
}

.navbar-nav ul li:first-child a {
    padding-left: 0;
}

.navbar-nav ul {
    display: flex;
    justify-content: space-between;

}

.navbar-nav ul li {
    list-style: none;
}

.header-bottom {
    border-top: 1px solid #555;
}



.navbar-nav ul li .active {
    color: #E1B168;
}

.social-media__item {
    display: inline-block;
}

.social-media__item a {
    padding: 0 10px;
    color: #FFFFFF;

}

.home-content {
    /* margin: 0 auto; */
    display: flex;

}

.home-info {
    margin-top: 95px;
}

.home-info__title {
    font-family: var(--cormorant-infant);
    font-weight: 700;
    font-size: 100px;
    padding-top: 90px;
    color: #FFFFFF;
    margin-bottom: 30px;

}

.home-info__desc {
    font-weight: 400;
    font-family: var(--josefin);
    font-size: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    padding-bottom: 40px;
    line-height: 1.5;
}

.home-info a {
    display: inline-block;
    text-decoration: none;
    font-family: var(--josefin);
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--button-color);
    border: 2px solid var(--button-color);
    padding: 18px 55px;
    transition: background .2s, color .2s;
}

.home-info a:hover {
    background: var(--button-color);
    color: var(--main-color);
}

.image-round img {
    position: relative;
    width: 700px;
    margin-top: 60px;
    border-top-left-radius: 626px;
    border-top-right-radius: 626px;
    border: 30px solid #FFFFFF1A;
    border-bottom: none;
    z-index: 2;

}

.home-img {
    position: relative;
    z-index: 2;

}

.home-img-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    animation: spin 10s linear infinite;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.detail-section {
    padding: 100px 0 60px 0;
    background: #FFF8F5;
}


.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.detail-title {
    font-family: var(--cormorant-infant);
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2px;
}

.detail-content {
    font-family: var(--josefin);
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-top: 5px;

}

.story__section {
    padding-top: 60px;
    background: #FFF8F5;
    padding-bottom: 125px;
}

.story-content {
    display: grid;
    grid-column-gap: 45px;
    grid-template-columns: 1.3fr 1fr;

}

.parse-2 {
    display: flex;
    gap: 20px;
    margin-top: 36px;
}

.story-one__title {
    font-family: var(--cormorant-infant);
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: var(--main-color);
    padding-bottom: 15px;
}

.story-one__content {
    font-family: var(--josefin);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: var(--content-color);
    line-height: 30px;
}

.story-two__title {
    padding-top: 15px;
    font-family: var(--cormorant-infant);
    font-size: 40px;
    font-weight: 400;
    color: var(--main-color);
}

.story-past__title {
    font-family: var(--josefin);
    padding-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--content-color);
}

.josefne-text {
    padding-top: 18px;
}

.josefine-title {
    font-family: var(--josefin);
    font-size: 20px;
    color: var(--content-color);
    letter-spacing: 0.2px;
    line-height: 30px;
}

.josefne-text img {
    padding-top: 22px;

}

.starters__section {
    margin-top: 120px;
    margin-bottom: 140px;
}



.starter__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: .6fr 1fr;
    align-items: start;


}


.menu-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 50px;
    gap: 20px;
}

.starter-subtitle {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: var(--josefin);
    color: var(--main-color);
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);
    /* padding: 5px; */
    line-height: 1.5;
    padding-top: 5px;
}

.starters__title {
    margin: 12px 0 13px 0;
    font-family: var(--cormorant-infant);
    font-size: 40px;
    font-weight: 400;
    color: var(--main-color);


}

.starter-text {
    font-family: var(--josefin);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--content-color);

}

.starter-item img {
    margin: 30px 0 60px 0;



}

.sticky__item {
    position: sticky;
    top: 100px;

}

.starter-button {
    text-decoration: none;
    border: 2px solid var(--button-color);
    font-family: var(--josefin);
    font-size: 22px;
    color: var(--button-color);
    padding: 18px 55px;
    transition: background .2s, color .2s;
    font-weight: 500;

}

.starter-button:hover {
    background-color: var(--button-color);
    color: var(--main-color);
}


.menu-title {
    font-family: var(--cormorant-infant);
    font-size: 36px;
    letter-spacing: 0.2px;
    font-weight: 400;

    color: var(--main-color);

}

.menu-item img {
    margin-top: 30px;
    border-radius: 50%;
    margin-bottom: 10px;

}

.item-name {
    font-family: var(--cormorant-infant);
    font-weight: 400;
    color: var(--main-color);
    font-size: 30px;

}

.desc-name {
    color: var(--content-color);
    font-family: var(--josefin);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.dot-line {
    border-bottom: 2px dashed #AAAAAA;
    flex: 1;
    height: 50px;
    margin: 0 10px 0 10px;
}

.wrap-item {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    margin-top: 15px;
    line-height: 1.5;
    font-family: var(--cormorant-infant);
}


.testemo-section {
    padding: 140px 0 120px 0;
    background: var(--main-color);
}

.testemo-subtitle__item {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--josefin);
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 3px;
    padding: 6px;
    border-top: 2px solid var(--button-color);
    border-bottom: 2px solid var(--button-color);
}

.testemo__title {
    text-transform: capitalize;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-family: var(--cormorant-infant);
    font-size: 40px;
    color: #FFFFFF;
    margin: 10px 0 8px 0;
}

.testemo-title__content {
    font-family: var(--josefin);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.swiper-wrapper {
    height: auto;
    overflow: visible;
    z-index: 1;
    /* white-space: nowrap; */
    display: block;
    position: relative;
    left: 0;
    right: 0;

}



#swiper__wrapper {
    display: flex;

}



.testemonial-slider__item {
    min-height: 418px;
    padding: 40px;
    background: var(--slider-bg);
    border-radius: 20px;


}

.testemonial-author__wrap img {
    display: inline-block;
    border-radius: 50%;
}

.author__wrap {
    border-bottom: 1px solid #797e89;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    flex-shrink: 0;
    gap: 30px;

}

.quote__wrap {
    border-radius: 100px;
    border: 2px solid var(--main-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-color);
    width: 30px;
    height: 30px;
    inset: 0% auto auto 0%;

}

.client-name {
    font-family: var(--cormorant-infant);
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2px;
    line-height: 42px;
    color: var(--exWhite);
}

.client-address {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--button-color);
    font-family: var(--josefin);
}

.author__desc {
    display: flex;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 24px;
    max-width: 400px;
    font-family: var(--cormorant-infant);
    font-weight: 400;
    line-height: 1.5;
    flex: 1;
    letter-spacing: 0.25px;
    color: var(--exWhite);

}

.swiper-pagination {
    position: static !important;
    margin-top: 20px;


}

.swiper-pagination-bullet-active {
    width: 20px !important;
    height: 20px !important;
    background: var(--exWhite) !important;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;

}

.testemonial-area {
    margin-top: 20px;
}

.parralex-section {
    background: url("./images/parralex.jpg") center/cover fixed;
    height: 600px;

}

.special-dish__section {
    padding: 140px 0 60px;
}

.special-dish__wrap {
    text-align: center;
    padding-bottom: 20px;
}

.dish-title {
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);
    display: inline-block;

}

.dish-subtitle {
    font-weight: 500;
    font-family: var(--josefin);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    padding-top: 5px;
    color: var(--main-color);
}

.dish-item__title {
    text-transform: capitalize;
    font-family: var(--cormorant-infant);
    font-size: 40px;
    color: var(--main-color);
    font-weight: 400;
    letter-spacing: 0.2px;
    margin: 10px 0 8px;
}

.dish-item__desc {
    color: var(--content-color);
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    font-family: var(--josefin);
    font-weight: 400;
    line-height: 1.5;
    font-size: 21px;
}

.grid__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
}

.wrap-2 {
    grid-column-gap: 30px;
    grid-row-gap: 16px;
}

.grid-wrap__item-1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-image: url("./images/spec-1.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;

}

.grid-left__wrap {
    width: 60%;
}

.rate-wrap-1 {
    display: inline-block;
    background-image: url(./images/offer-bg-1.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 140px;
    margin: 10px 10px 30px 0;
    padding: 25px 25px 15px 30px;
    transform: rotate(-14deg);
}

.offers_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.only-title-1 {
    color: var(--main-color);
    font-weight: 500;
    line-height: 0.7;
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--josefin);
    text-align: center;
}

.only-value-1 {
    font-family: var(--cormorant-infant);
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.2px;
    color: var(--main-color);
}

.offer-wrap {
    display: inline-block;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.offer-title {
    display: inline-block;
    padding-top: 5px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--josefin);

}

.offer-item__name {
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0 10px;
    font-family: var(--cormorant-infant);
    color: var(--main-color);

}

.offer-item__desc {
    color: var(--content-color);
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--josefin);
    line-height: 1.5;
    letter-spacing: .1rem;
}

.dish-left-wrap {
    width: 60%;
    margin-bottom: 0;

}

.pizza-offer {
    background-image: url("./images/offer-bg-2.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 140px;
    margin: 10px 10px 30px 0;
    padding: 25px 25px 15px 30px;
    display: inline-block;
    transform: rotate(-14deg);
}



.offer-white-text {
    color: var(--exWhite);
    font-size: 15px;
    font-weight: 500;
    font-family: var(--josefin);
    text-align: center;
    line-height: 0.7;
    text-transform: uppercase;
}

.offer-rate-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dish-item-two {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-image: url("./images/spec-2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.price-value {
    font-family: var(--cormorant-infant);
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.2px;
    color: var(--exWhite);
}

.right-wrap,
.dish-right-wrap {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-wrap img,
.dish-right-wrap img {
    max-width: 100%;
    height: auto;
    display: block;
}

.popular-dish-section {
    padding: 60px 0 140px;
}

.section-title-wrap {
    text-align: center;
    padding-bottom: 10px;

}


.section-subtitle-wrap {
    display: inline-block;
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);
}

.section-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-color);
    letter-spacing: 3px;
    font-family: var(--josefin);
    padding-top: 5px;
}

.section-title {
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 40px;
    font-family: var(--cormorant-infant);
    font-weight: 400;
    margin: 12px 0 8px;
}

.section-title-item {
    color: var(--content-color);
    font-family: var(--josefin);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 30px;
}



#popular-dish-grid {
    display: grid;
    margin: 30px 0 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.popular-dish-image {
    display: inline-block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.popular-dish-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-bottom);
}

.popular-dish-name,
.popular-dish-price {
    margin: 10px 0 10px;
    font-size: 30px;
    font-family: var(--cormorant-infant);
    font-weight: 700;
    line-height: 1.4;
}


.popular-dish-title {
    font-family: var(--josefin);
    color: var(--content-color);
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 30px;
}

.button-wrap a {
    border: 2px solid var(--button-color);
    text-decoration: none;
    font-size: 23px;
    line-height: 1.5;
    padding: 18px 55px;
    color: var(--button-color);
    font-family: var(--josefin);
    font-weight: 500;
    transition: color .2s, background .2s;
}

.button-wrap a:hover {
    background-color: var(--button-color);
    color: var(--main-color);
}

.button-wrap {
    text-align: center;
    margin-top: 60px;
    width: 100%;
}

.service-section {
    padding: 100px 0 100px;
    background: var(--main-color);
}

.service-grid {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
}

.service-title-wrap {
    padding-right: 60px;
}

.subtitle-white {
    color: var(--exWhite);


}

.title-white {
    color: var(--exWhite);
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    font-family: var(--cormorant-infant);
    margin: 10px 0 8px;



}

.service-title-content {
    font-family: var(--josefin);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 30px;
    color: var(--exWhite);
}

.service-item-wrap {
    text-align: center;
    border: 20px solid #323841;
    padding: 45px 30px 30px;
}

.service-icon {
    min-width: 60px;
    min-height: 60px;
    margin-bottom: 25px;

}

.service-item-wrap img {
    display: inline-block;
    max-width: 100%;
}

.service-item-title {
    color: var(--exWhite);
    font-family: var(--cormorant-infant);
    letter-spacing: 0.2px;
    font-size: 25px;
    font-weight: 400;

}

.section-title-left {
    text-align: left;
}




.blog-section {
    padding: 140px 0 140px;
}

.blog-title-wrap {
    text-align: center;
    /* padding-bottom: 20px; */
}

.blog-subtitle-wrap {
    display: inline-block;
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);

}

.blog-title {
    margin: 10px 0 8px;
    text-transform: capitalize;
    font-size: 40px;
    font-family: var(--cormorant-infant);
    color: var(--main-color);
    font-weight: 700;
}



.blog-collaction-items:hover .blog-item-overlay-wrap {
    opacity: 1;


}

.blog-subtitle {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: var(--main-color);
    font-family: var(--josefin);
}

.blog-title-desc {
    font-size: 22px;
    font-family: var(--josefin);
    color: var(--content-color);
    line-height: 30px;
}

.blog-collections {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}

.image-wrap {
    position: relative;

}

.blog-image-1 {
    width: 100%;
}

.blog-overlay-wrap {
    position: absolute;
    inset: 0%;

}

.blog-item-overlay-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000000a6;
    transition: .3s ease;

}

.blog-button {
    text-decoration: none;
    font-family: var(--josefin);
    color: var(--main-color);
    margin: 10px 10px 10px 0;
    padding: 18px 55px;
    background: var(--button-color);
    border: 2px solid var(--button-color);
    text-align: center;
    letter-spacing: 0.44px;
    transition: color .2s, background .2s;
    font-weight: 500;
}

.blog-button:hover {
    color: var(--button-color);
    border-width: 2px;
    background: #0000;

}

.blog-content-wrap {
    border: 1px solid #cdcdcd;
    padding: 50px 45px 32px;
    border-top: 1px #000;
    text-align: left;

}

.meta-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.blog-category-link {
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);
    max-width: 100%;
}



.blog-category-desc {
    color: var(--main-color);
    font-size: 15px;
    padding-top: 6px;
    font-weight: 500;
    line-height: 1.5;
    transition: color .2s;
    font-family: var(--josefin);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.blog-category-desc:hover {
    color: var(--button-color);
}

.blog-date-wrap {
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);
    max-width: 100%;
}

.blog-date {
    color: var(--main-color);
    font-size: 15px;
    padding-top: 6px;
    font-weight: 500;
    line-height: 1.5;
    font-family: var(--josefin);
    text-transform: uppercase;
}

.blog-story-title {
    text-transform: capitalize;
    line-height: 1.3;
    letter-spacing: 0.2px;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--cormorant-infant);
    color: var(--main-color);
    display: inline-block;
    margin-top: 5px;
    transition: color .2s;
    margin-bottom: 20px;
    width: 100%;



}

.blog-story-title:hover {
    color: var(--button-color);
}

.blog-story-desc {
    line-height: 1.5;
    color: var(--content-color);
    font-weight: 500;
    font-size: 20px;
    font-family: var(--josefin);
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
}

.resrevation-section {
    background-image: url(./images/resrevation-section.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.resrevation-wrap {
    background-color: #292e36f2;
    padding: 100px;
}

.resrevation-title-wrap {
    text-align: center;
    padding-bottom: 10px;
}

.resrevation-subtitle-wrap {
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);
    display: inline-block;
}

.resrevation-subtitle {
    color: var(--exWhite);
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .2em;
    font-family: var(--josefin);
}

.resrevation-title {
    margin: 10px 0 8px 0;
    color: var(--exWhite);
    font-size: 40px;
    font-family: var(--cormorant-infant);
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 56px;

}

.resrevation-form {
    text-align: center;
    margin-top: 20px;
}

.form-input-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 23px;
    margin-bottom: 20px;

}

.input-field.half-width {
    width: 48%;
    /* padding-bottom: 30px; */

}

.input-field {
    background: #0000;
    border: 1px solid #858585;
    min-height: 70px;
    padding-left: 20px;
    font-family: var(--josefin);
    font-size: 22px;
    font-weight: 500;
}

.submit-button {
    margin-top: 20px;
    color: var(--main-color);
    background: var(--exWhite);
    min-height: 60px;
    font-weight: 500;
    font-family: var(--josefin);
    font-size: 22px;
    padding: 0 55px 0 55px;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.submit-button:hover {
    background-color: var(--button-color);
    color: var(--exWhite);
}

.success-message {
    background: var(--button-color);
    color: var(--main-color);
    font-size: 20px;
    font-family: var(--josefin);
}

.form-done {
    padding: 20px;
    text-align: center;
    display: none;
}

.error-message {
    color: var(--main-color);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background: #ffdede;
    font-family: var(--josefin);
}

.form-fail {
    display: none;
}

.input-field.quarter-width {
    width: 31%;

}



.copyright {
    background: var(--main-color);
    border-top: 1px solid #575b62;
    padding: 25px 0 25px;

}

.copyright-content-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-copright-content {
    font-weight: 500;
    font-size: 20px;
    font-family: var(--josefin);
    color: var(--exWhite);
    letter-spacing: 0.2px;
    line-height: 30px;
}

.footer-copright-content a,
.footer-page-link {
    color: var(--button-color);
    font-weight: 500;
    font-size: 20px;
    font-family: var(--josefin);
    letter-spacing: 0.2px;
    line-height: 30px;
    transition: color .2s;
}

.footer-copright-content a:hover {
    color: #E1B168c7;
}

.footer-page-link {
    padding-right: 20px;
}

.footer-page-link:hover {
    color: #E1B168c7;
}

.footer-section {
    background: var(--main-color);
    padding-top: 100px;
}

.footer-top-block {
    padding-bottom: 40px;
}

.top-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;

}

.top-link {
    font-family: var(--josefin);
    font-weight: 500;
    font-size: 22px;
    color: var(--exWhite);
    letter-spacing: 0.2px;

}

.social-wrap {
    justify-self: end;
}

.footer-main {
    padding-bottom: 70px;
}

.main-grid {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: auto;
    grid-column-gap: 16px;
}

.widget-title-wrap {
    border-top: 1px solid var(--button-color);
    border-bottom: 1px solid var(--button-color);
    display: inline-block;

}

.widget-title {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--josefin);
    color: var(--exWhite);
    padding-top: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    float: right;
}

.working-hour-wrap {
    text-align: right;
    display: inline-block;
}

.working-time {
    font-weight: 500;
    font-family: var(--josefin);
    color: var(--exWhite);
    font-size: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    line-height: 30px;

}

.working-days {
    color: var(--button-color);
}

.footer-address {
    font-family: var(--josefin);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 30px;
    color: var(--exWhite);
    margin-top: 10px;
}

.footer-link {
    color: var(--button-color);
    transition: color .2s;
    display: block;
    line-height: 30px;
    font-family: var(--josefin);
    font-weight: 500;
    font-size: 22px;
}

.footer-link:hover {
    color: var(--exWhite);

}

.subscribe-footer-content {
    font-family: var(--josefin);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--exWhite);
    text-align: center;
    margin: 20px 0 20px;

}

.w-form {
    margin: 0 0 15px;
}

.subscribe-form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.email-input-wrap {
    text-align: left;
    flex: 1;
}

.email-input {
    font-size: 20px;
    background: #0000;
    color: var(--exWhite);
    font-weight: 500;
    width: 100%;
    border: 1px solid #858585;
    height: 38px;
    padding: 8px 12px;
    font-family: var(--josefin);
    display: inline-block;
}

.input-2 {
    min-height: 68px;
    padding-left: 20px;
}

.submit-button-widget {
    font-family: var(--josefin);
    color: var(--main-color);
    font-weight: 500;
    font-size: 22px;
    min-height: 68px;
    padding-left: 55px;
    padding-right: 55px;
    transition: background-color .2s, color .2s;
    cursor: pointer;

}

.submit-button-widget:hover {
    background-color: var(--button-color);
    color: var(--exWhite);
}

.working-time {
    text-align: right;
    display: inline-block;
}

.widget-title-wrap {
    margin-bottom: 30px;

}

.working-hour {
    text-align: right;
}

.top-logo {
    text-align: center;
}

.lang-switcher {
    position: relative;
    display: inline-block;
}

.lang-current {
    display: flex;
    align-items: center;
    gap: 20px;
    background: transparent;
    text-align: center;
    border: 1px solid var(--button-color);
    color: var(--exWhite);
    font-family: var(--josefin);
    font-weight: 500;
    padding: 8px 14px;
    cursor: pointer;

}

.lang-current.fa-chevron-down {
    font-size: 20px;
    transition: transform 0.3s;

}

.lang-switcher.open .fa-chevron-down {
    transform: rotate(180deg);
}

.lang-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--main-color);
    border: 1px solid var(--button-color);
    list-style: none;
    margin: 0;
    padding: 20px;
    z-index: 100;

}

.lang-switcher.open .lang-dropdown {
    display: block;
}

.lang-dropdown li {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--button-color);
    color: var(--exWhite);
    font-family: var(--josefin);
    font-weight: 500;
    transition: opacity 0.2s;


}

.lang-dropdown li:hover {
    opacity: 7;

}

.lang-current img {
    width: 20px;
    height: 14px;
    object-fit: cover;
}

.lang-dropdown img {
    width: 20px;
    height: 14px;
    object-fit: cover;
}

.hamburger-btn {
    display: none;
    background: var(--exWhite);
    color: var(--main-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    padding: 5px 0;
    width: 40px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;

}


@media screen and (max-width: 768px) {
    .hamburger-btn {
        display: flex;

    }

    .navbar-nav {
        position: absolute;
        background: var(--content-color);
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s;
    }

    .navbar-nav ul li:first-child a {
        padding: 20px 30px;


    }

    .navbar-nav ul li a {
        border-bottom: 1px solid var(--button-color);
        width: 100%;

    }

    .navbar-nav.active {
        max-height: 400px;
    }

    .navbar-nav ul {
        flex-direction: column;
    }

    .main-top {
        flex-direction: column;
        gap: 44px;

    }

    .home-content {
        flex-direction: column;
        align-items: center;

    }

    .lang-switcher {
        align-items: center;
        justify-content: center;
        float: left;

    }

    .detail-item {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;


    }

    .story-content {
        display: flex;
        flex-direction: column;
    }

    .story-img img {
        width: 100%;


    }

    .home-img-2 img {
        display: none;
    }

    .image-round img {
        position: static;
        width: 100%;
    }

    .starter__content {
        display: flex;
        flex-direction: column;
    }

    .sticky__item {
        position: static;
    }

    .grid__wrap {
        display: flex;
        flex-direction: column;
    }

    #popular-dish-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    

    .service-grid {
        display: flex;
        flex-direction: column;
    }

    .service-item-wrap {
        border: 20px solid #323841;
        text-align: center;
        padding: 45px 30px 30px;
        width: 500px;
        max-height: 300px;

    }

    .blog-collections {
        display: flex;
        flex-direction: column;

    }

    .resrevation-form {
        padding: 40px 20px;
        margin: 0;
    }

    .form-input-wrap {
        flex-direction: column;
    }

    .input-field.half-width {
        width: 100%;
    }

    .input-field.quarter-width {
        width: 100%;
    }

    .resrevation-wrap {
        padding: 30px;
    }

    .top-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .main-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .widget-title-wrap {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .working-hour {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .working-time {
        display: block;
    }

    .copyright-content-wrap {
        flex-direction: column;
        text-align: center;
    }

    .home-info__title {
        font-size: 50px;
        padding-top: 30px;
    }

    .home-info__desc {
        font-size: 14px;
    }

    .home-info a {
        font-size: 16px;
        padding: 14px 30px;
    }

    .image-round img {
        width: 350px;
    }

    .service-item-wrap {
        width: 100%;
        max-height: none;
    }

    .menu-title {
        padding-top: 30px;
    }
}

@media screen and (max-width: 425px) {
    .home-info__title {
        font-size: 36px;
        padding-top: 15px;
    }

    .home-info__desc {
        font-size: 13px;
    }

    .home-info a {
        font-size: 14px;
        padding: 12px 20px;
    }

    .image-round img {
        width: 260px;
    }

    .main-top {
        gap: 20px;
    }

    .home-content {
        text-align: center;
    }

    .home-info {
        margin-top: 20px;
    }

    .service-item-wrap {
        width: 100%;
        border-width: 10px;
        padding: 30px 15px;
        max-height: none;
    }

    .dish-item-two {
        flex-direction: column;
    }

    .grid-wrap__item-1 {
        flex-direction: column;
    }

    .resrevation-section {
        padding: 0;
        padding: 20px 0;

    }

    .menu-title {
        padding-top: 30px;
    }





}


@media screen and (max-width: 1280px) {
    .starter__content {
        display: flex;
        flex-direction: column;
    }

    .sticky__item {
        position: static;
    }
    
    

    .main-top {
        flex-direction: column;
        gap: 60px;
    }

    .hamburger-btn {
        display: flex;

    }

    .navbar-nav {
        position: absolute;
        background: var(--content-color);
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s;
        z-index: 3;
    }

    .navbar-nav ul li:first-child a {
        padding: 20px 30px;


    }

    .navbar-nav ul li a {
        border-bottom: 1px solid var(--button-color);
        width: 100%;

    }

    .navbar-nav.active {
        max-height: 400px;
    }

    .navbar-nav ul {
        flex-direction: column;
    }

    


    .home-info__title {
        /* text-align: center; */
        font-size: 90px;
    }

    .service-grid {
        grid-template-columns: 2fr 1fr;
    }

}

@media screen and (max-width: 992px) {
    .home-info__title {
        font-size: 70px;
        text-align: center;
    }

    .home-info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .home-content {
        flex-direction: column;
    }

    .detail-item {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;

    }

    .story-content {
        display: block;
    }


    .image-round img {
        right: -100px;
    }

    .home-info__desc {
        text-align: center;
    }

    .grid__wrap {
        grid-template-columns: 1fr;
    }

    .grid-wrap__item-1 {
        
        flex-direction: column;
        align-items: center;
    }

    .grid-left__wrap {
        text-align: center;
    }

    .dish-item-two {
        flex-direction: column;
        align-items: center;
    }

    .dish-left-wrap {
        text-align: center;
    }

    #popular-dish-grid {
        grid-template-columns: 1fr;
        padding: 0 100px 0 100px;
    }

   .form-input-wrap {
    flex-direction: column;

   }
   .input-field.half-width{
    width: 100%;
   }

   .input-field.quarter-width {
    width: 100%;
   }

   .main-grid {
    grid-template-columns: 1fr;
   }

   .address-widget-item {
    text-align: center;
    
   }

   .working-hour {
    text-align: center;
   }

   .widget-title-wrap{
    margin: 20px;
    text-align: center;
   }

   #working-hour-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .copyright-content-wrap {
    flex-direction: column;
    align-items: center;
   }

   


   
   
  
}

@media screen and (max-width: 375px)  {
    .rounded-img {
        display: none;

    }

    .image-round img {
        right: 0;
        width: 300px;
        height: 300px;
    }

    .main-call a {
        padding: 20px;
    }

    .logo-top img{
        max-width: 100%;
        
    }
    .main-bottom {
        gap: 20px;
    }
    .lang-current {
        gap: 8px;
    }

    .starters__title {
        
        font-size: 25px;
    }

    .starter-text {
        margin-right: 40px;
        font-size: 18px;
    }

    .starter-item img {
        max-width: 100%;
    }

    .starter-button {
        
        margin-left: 20px;
    }

    .submit-button {
        padding: 20px;    
    }

    .menu-title {
        padding-top: 50px;
    }

    .menu-item {
        flex-direction: column;
    }

    .submit-button {
        padding: 20px;
    }

    .top-logo img{
        max-width: 100%;
    }

    .subscribe-form {
        flex-direction: column;
        align-items: center;
    }

    .submit-button-widget {
        width: 88%;
    }

    #popular-dish-grid {
        padding: 0;
    }

    .service-item-wrap {
        padding: 45px 30px 30px;
        border: 20px solid var(--slider-bg);
    }

    .meta-wrap {
        flex-direction: column;
        align-items: flex-start;
    }


    .right-wrap img, 
    .dish-right-wrap img {
        max-width: 200%;

    }

    .menu-item {
        align-items: flex-start;
        margin-bottom: 0;
        gap: 7px;
        
    }

    .dish-left-wrap {
        width: 100%;
        
    }

    .grid-left__wrap {
        width: 100%;
    }

    

  

    
   }




